<div class="container">
    <p class="h1">Cinephiliaについて</p>
    <p class="h4">cinema：映画</p>
    <p class="h4">-philia：愛好家、愛好症</p>
    <p class="h4">本サイトは、映画について調べたり、映画のレビューを書いたりする映画を愛する方向けのサイトです。</p>
    <p class="h4"><a href="https://www.themoviedb.org/">The Movie Database様</a>が提供されているTMDb APIを利用して開発しました。</p>
    <p class="h4">英語の勉強も兼ねているので、デフォルトの言語を英語に設定しています。</p>
    <p class="h4">機能については下記の通りです。</p>
    <br>
    <p class="h2">①映画のデータベース機能</p>
    <p class="h4">映画の情報や、映画に関わる監督や俳優の情報を閲覧することが出来ます。</p>
    <p class="h2">②鑑賞メーター機能</p>
    <p class="h4">鑑賞した映画を、評価やレビューと併せて記録することが出来ます。</p>
    <p class="h2">③映画チェック機能</p>
    <p class="h4">気になる映画を登録することが出来ます。</p>
    <p class="h4">登録済みの映画の中から、鑑賞優先度の高い映画を設定することが出来ます。</p>
    <br>
    <p class="h4">今後、鑑賞スケジュールを管理する機能を実装する予定です。</p>
</div>
